#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card,
.text-card {
  color: black;
  background-color: white;
  padding: 10px 20px;
  width: 400px;
  border-radius: 10px;
  margin-top: 30px;
}
h2 {
  text-align: left;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  background-color: aliceblue;
  padding: 4px;
  border: 2px solid lightblue;
  margin: 10px 0;
}
li:hover {
  border: 2px solid white;
  cursor: pointer;
  transition: border 200ms;
}
.clicked {
  background-color: skyblue;
  border-color: skyblue;
  color: white;
}
.correct {
  background-color: green;
  border-color: green;
  color: white;
}
.wrong {
  background-color: red;
  border-color: red;
  color: white;
}
form {
  display: flex;
  color: black;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
}
form h2 {
  text-align: center;
}
input {
  background-color: lightgray;
  padding: 6px;
  font-size: 18px;
  color: black;
  border: 2px solid gray;
  margin: 6px 0;
}
span {
  background-color: black;
  display: block;
  width: 100%;
  height: 2px;
  margin: 8px 0;
}
.answer-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
label span {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: lightgray;
  border-radius: 10px;
  margin-left: 10px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + span {
  background-color: skyblue;
}
.delete {
  display: flex;
  justify-self: end;
  background-color: red;
}
button img {
  width: 100px;
  background-color: white;
  border-radius: 50%;
  border: 10px solid white;
}
.text-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-card h2 {
  text-align: center;
}
.home {
  position: fixed;
  left: 40px;
  top: 40px;
}
.login button {
  margin: 20px;
}
.text-card img {
  width: 140px;
  margin: 20px;
}
@media (max-width: 768px) {
  :root {
    max-width: 100%;
  }
  .card {
    width: 280px;
    margin: 20px 0;
  }
  h1 {
    margin-top: 50px;
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  form {
    width: 280px;
  }
}
